<div class="wrapper">
    <div class="content">
        <div class="buttons-container">
                <button class="btn btn-study-cave" (click)="returnToSet()"><i class="fas fa-arrow-left"></i> WRÓĆ DO ZESTAWU</button>
        </div>
</div>
  <div class="wrapper-add">
    <div class="container">
      <h1>Edycja zestawu</h1>
      <br />
      <form ngNativeValidate action="/" method="post" #user="ngForm" (ngSubmit)="addTable(user.value)">
        <div class="row">
          <div class="col-md-10">
            <label>
              Wprowadź nazwę dla zestawu:
              <input type="text" name="title" class="form-control" [(ngModel)]="set['name']" required />
            </label>
          <label>
              Wprowadź kategorię zestawu:
              <input type="text" name="category" class="form-control" [(ngModel)]="set['category']" required />
          </label>
          </div>
          <label class="col-md-2">
            <br />
            <input type="checkbox" name="{{ permission }}" class="form-control" [checked]="permission" (change)="changePermission()"/>
            <b>Udostępnij publicznie</b>
          </label>
        </div>
        <br />
        <label>
          Wypełnij tabelę fiszkami:
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Lewa strona</th>
                <th>Prawa strona</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <input [(ngModel)]="field.left_side" class="form-control" type="text" name="{{field.left_side}}" />
                </td>
                <td>
                  <input [(ngModel)]="field.right_side" class="form-control" type="text" name="{{field.right_side}}" />
                </td>
                <td>
                  <button class="btn btn-study-cave"  type="button" (click)="deleteFieldValue(i)"><i class="fas fa-trash-alt"></i> Usuń fiszkę</button>
                </td>
              </tr>
              <tr>
                <td>
                    <input class="form-control" type="text" id="newAttributeLeft" [(ngModel)]="newAttribute['left_side']" name="newAttributeLeft" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeRight" [(ngModel)]="newAttribute['right_side']" name="newAttributeRight" />
                </td>
                <td>
                  <button class="btn btn-study-cave" type="button" (click)="addFieldValue()"><i class="fas fa-file-csv"></i> Dodaj fiszkę</button>
                </td>
              </tr>
            </tbody>
          </table>
        </label>
        <br />
        <div>
          <button class="btn btn-study-cave" type="submit"><i class="fas fa-check-circle"></i> Edytuj fiszki!</button>
          <button class="btn btn-study-cave" [routerLink]="['/flashcards/sets', ident]"><i class="fas fa-arrow-left"></i> Powrót</button>
        </div>
      </form>
    </div>
  </div>
</div>