@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0 auto;
    background-color: #272324;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    background-size:  auto 100%;
    background-image: url("./assets/cave2.jpg");
    background-position: center top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn{
    cursor: pointer;
}

.ag-header-cell-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-paging-page-summary-panel{
    color: darkgray;
    display: inline-block;
    white-space: nowrap;
}

.ag-paging-row-summary-panel{
    color: darkgray;
}

/* @media screen and (max-width: 800px) {
.hide{
    display: none;
}
} */

.btn, div, button, input, label, textarea {
    border-radius: 0 !important;
}

.ag-theme-dark {
    margin: 0 !important;
}

.container {
    max-width: 100% !important;
    margin: 2rem auto !important;
}

.btn-study-cave:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 .2rem rgba(112, 81, 14, 0.5);
}

.alert-grey {
    background-color: #22272a;
}

body .ui-dialog .ui-dialog-titlebar {
    border: 1px solid #000 !important;
    background-color: #000 !important;
}

body .ui-dialog .ui-dialog-content {
    color: #fff !important;
    background-color: #272324 !important;
    border-color: #cea856 !important;
}

.snackbar-success {
    background-color: #082d05 !important;
    border-color: #28a745 !important;
    border-radius: 0 !important;
    color: white !important;
}

.snackbar-error {
    background-color: #3f1010 !important;
    border-color: #dc3545 !important;
    border-radius: 0 !important;
    color: white !important;
}

a:hover{
    color: white !important;
}

.ag-paging-button{
    color: darkgrey;
    background-color: transparent;
    border-color: darkgrey;
}

.ag-paging-panel{
    height: 50px !important;
}

.btn-study-cave {
    color: #fff;
    background-color: #272324;
    border-color: #cea856;
}

.btn-study-cave:hover {
    border-color: rgb(202, 144, 17);
}

.alert-danger{
    background-color: transparent;
    color: #cea856;
    border-color: #cea856;
}

.alert-success{
    background-color: transparent;
    color: #cea856;
    border-color: #cea856;
}

.mat-form-field-label {
    color: #fff !important;
}

.mat-form-field-underline {
    background-color: #fff !important;
}

.mat-simple-snackbar {
    justify-content: center !important;
}
